<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/test.css">
    <link rel="stylesheet" href="../static/bootstrap/css/fonts.css">
</head>

<body>

    <canvas></canvas>


    <div id="active" class="active">
        <!-- 有序列表 -->
        <ul class="leader">
            <li class="option"><a href="javascript:;" class="opt">联系方式</a></li>
            <li class="option"><a href="javascript:;" class="opt">历史</a></li>
            <li class="option"><a href="../templates/like.html#like">收藏夹</a></li>
            <!-- 锚点链接 -->
            <li class="option"><a href="../templates/index.html" class="opt">个人主页</a></li>
            <!-- 超链接 -->
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <!-- 表格 -->
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                                <!-- 图像 -->
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                    </tr>
                    <tr>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                    </tr>
                    <tr>
                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                        <td class="card">
                            <div class="bg-info text-white">
                                <img width="100%" height="100px" src="../static/bootstrap/img/github.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="https://github.com/" class="btn btn-primary">Go !</a>
                            </div>
                            <br>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>


</body>

</html>