<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>like</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vue/js/like2.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/like.css">
    <link rel="stylesheet" href="../static/bootstrap/css/fonts.css">

    <style type="text/css">
        #outbox {
            border: 10px solid #ff0000;
            width: 400px;
        }
        
        #inbox {
            border: 20px solid #ff0000;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>

    <!-- 无序列表 -->
    <!-- <div class="like">
        <ol class="list-group">
            <li class="list-group-item list-group-item-success">收藏</li>
            <li class="list-group-item list-group-item-secondary">收藏</li>
            <li class="list-group-item list-group-item-info">收藏</li>
            <li class="list-group-item list-group-item-warning">收藏</li>
            <li class="list-group-item list-group-item-danger">收藏</li>
            <li class="list-group-item list-group-item-primary">收藏</li>
            <li class="list-group-item list-group-item-dark">收藏</li>
            <li class="list-group-item list-group-item-light">收藏</li>
        </ol>
    </div> -->
    <!-- 
    <div id="outbox">

        <div id="inbox"><img src="" /></div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div> -->


    <!-- 自定义列表 -->
    <!-- <div class="option">
        <dl>
            <dt>Coffee</dt>
            <dd>- black hot drink</dd>
            <dt>Milk</dt>
            <dd>- white cold drink</dd>
        </dl>
    </div> -->



    <!-- <div class="content"> -->
    <!-- 文字标签 -->
    <span>2333</span>
    <!-- 段落标签 -->
    <p>张伟杰的收藏</p>
    <!--  -->
    <a href="mailto:1638527759zwj@gmail.com">My email</a>
    <!-- </div> -->

</body>

</html>